body {
    font-family: sans-serif;
    background-color: #0500FF;
    color: white;
}

header img{
    width: 450px;
}
nav {
    text-align: center;
    padding: 10px, 50px,10px,50px;
}

a{
    text-decoration: none;
    background-color: #554DD8;
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    color: white;
}

h1,h3 {
    text-align: center;
}

footer {
    background-color: #FFFF66;
}

footer p{
    background-color: #FFE673;
    border:1px solid #FFE673 ;
    margin: 20px;
    color: black;
}
